@charset "utf-8";

/*****************************
	Base(reset) style
*****************************/
html,
body {
  height: 100%;
}
html,
body,
blockquote,
caption,
dd,
div,
dl,
dt,
fieldset,
form,
frame,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
iframe,
input,
legend,
li,
object,
ol,
p,
pre,
q,
select,
table,
textarea,
ul,
tr,
td {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
form {
  display: block;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #333;
  font-family: 'NotoSans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  -webkit-text-size-adjust: none;
}

pre,
textarea,
select {
  font-family: 'NotoSans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
}

fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
legend {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
  outline: none;
}

input,
button {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 14px;
  vertical-align: middle;
  background: none;
  font-family: 'NotoSans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  -webkit-appearance: none;
  outline: none;
}

button,
label {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
select {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-repeat: no-repeat;
  background-position: center right;
}

input[type='text'],
input[type='password'] {
  height: 26px;
  padding: 0 10px;
  background: #fff;
} /*border:1px solid #00a0e9;*/

input[type='radio'],
input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
}

input::placeholder {
  color: #777;
}

img {
  border: 0;
  vertical-align: middle;
}

hr {
  display: none;
}

em,
address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 800;
}

table {
  width: 100%;
  border-collapse: collapse;
}
caption {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

noscript {
  position: absolute;
  z-index: 10;
  background: #efefef;
}
noscript p {
  margin: 0;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 1px;
  line-height: 0;
  color: transparent;
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(17, 17, 17, 0.7);
  z-index: 5;
}

/*  Reset CSS  */
* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  outline: 0;
  text-decoration: none;
  color: #555;
}

img {
  border: 0;
}

button {
  border: none;
  outline: none;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: inherit;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  color: #333;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #d9cbba;
  height: 20px;
}

body::-webkit-scrollbar-track {
  background-color: #fafafa;
}

.font_box {
  text-align: center;
  padding: 3px;
  border: 1px solid #0b547a;
  font-weight: 600;
  transition: all 0.5s;
}

.font_box:hover {
  background-color: #0b547a;
  color: #fff;
}

.hidden {
  display: block;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}

#content {
  margin: 130px 5% 0;
  width: auto;
  transition: all 0.5s;
}

main {
  margin-top: 130px;
}

section {
  width: 100%;
  overflow: hidden;
}



/*****************************
	@font -face
*****************************/
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/NotoSansKR-Thin.woff2') format('woff2'), url('../fonts/NotoSansKR-Thin.otf') format('truetype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/NotoSansKR-Light.woff2') format('woff2'), url('../fonts/NotoSansKR-Light.otf') format('truetype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NotoSansKR-Regular.woff2') format('woff2'), url('../fonts/NotoSansKR-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NotoSansKR-Medium.woff2') format('woff2'), url('../fonts/NotoSansKR-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/NotoSansKR-Bold.woff2') format('woff2'), url('../fonts/NotoSansKR-Bold.otf') format('truetype');
}
