@charset "utf-8";

/*****************************
	Base(reset) style
*****************************/
html,
body {
  height: 100%;
}
html,
body,
blockquote,
caption,
dd,
div,
dl,
dt,
fieldset,
form,
frame,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
iframe,
input,
legend,
li,
object,
ol,
p,
pre,
q,
select,
table,
textarea,
ul,
tr,
td {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #333;
  font-family: 'NotoSans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  -webkit-text-size-adjust: none;
}

pre,
textarea,
select {
  font-family: 'NotoSans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
}

fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
legend {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
form {
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: #333;
  outline: none;
}

input,
button {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 14px;
  vertical-align: middle;
  background: none;
  font-family: 'NotoSans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
  -webkit-appearance: none;
  outline: none;
}
button,
label {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
select {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background-repeat: no-repeat;
  background-position: center right;
}

input[type='text'],
input[type='password'] {
  height: 26px;
  padding: 0 10px;
  background: #fff;
} /*border:1px solid #00a0e9;*/

input[type='radio'],
input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
}

input::placeholder {
  color: #777;
}

img {
  border: 0;
  vertical-align: middle;
}

hr {
  display: none;
}

em,
address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 800;
}

table {
  width: 100%;
  border-collapse: collapse;
}
caption {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

noscript {
  position: absolute;
  z-index: 10;
  background: #efefef;
}
noscript p {
  margin: 0;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 1px;
  line-height: 0;
  color: transparent;
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(17, 17, 17, 0.7);
  z-index: 5;
}

/*  Reset CSS  */
* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  outline: 0;
  text-decoration: none;
  color: #555;
}

img {
  border: 0;
}

button {
  border: none;
  outline: none;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: inherit;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  color: #333;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #d9cbba;
  height: 20px;
}

body::-webkit-scrollbar-track {
  background-color: #fafafa;
}

.font_box {
  text-align: center;
  padding: 3px;
  border: 1px solid #0b547a;
  font-weight: 600;
  transition: all 0.5s;
}

.font_box:hover {
  background-color: #0b547a;
  color: #fff;
}

.hidden {
  display: block;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: #fff;
}

#content {
  margin: 130px 5% 0;
  width: auto;
  transition: all 0.5s;
}

section {
  width: 100%;
  overflow: hidden;
}

/* skip */
.skip {
  position: fixed;
}
.skip li a {
  display: block;
  position: absolute;
  top: 0;
  left: -9999px;
  width: 100%;
  text-align: center;
}
.skip li a:focus,
.skip li a:active {
  left: 0;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/*****************************
	set
*****************************/
/* text align */
.txtAlignR {
  text-align: right !important;
}
.txtAlignC {
  text-align: center !important;
}
.txtAlignL {
  text-align: left !important;
}

/* ele align */
.vAlignT {
  vertical-align: top !important;
}
.vAlignM {
  vertical-align: middle !important;
}
.vAlignB {
  vertical-align: bottom !important;
}

/* clipping */
.clipping {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* font weight */
.bold4 {
  font-weight: 400 !important;
}
.bold7 {
  font-weight: 700 !important;
}
.bold8 {
  font-weight: 800 !important;
}

/*padding set*/
.p0 {
  padding: 0 !important;
}
.p1 {
  padding: 1px !important;
}
.p2 {
  padding: 2px !important;
}
.p3 {
  padding: 3px !important;
}
.p4 {
  padding: 4px !important;
}
.p5 {
  padding: 5px !important;
}
.p6 {
  padding: 6px !important;
}
.p7 {
  padding: 7px !important;
}
.p8 {
  padding: 8px !important;
}
.p9 {
  padding: 9px !important;
}
.p10 {
  padding: 10px !important;
}
.p15 {
  padding: 15px !important;
}
.p20 {
  padding: 20px !important;
}
.p25 {
  padding: 25px !important;
}
.p30 {
  padding: 30px !important;
}
.p35 {
  padding: 35px !important;
}
.p40 {
  padding: 40px !important;
}
.p45 {
  padding: 45px !important;
}
.p50 {
  padding: 50px !important;
}

.pT0 {
  padding-top: 0 !important;
}
.pT1 {
  padding-top: 1px !important;
}
.pT2 {
  padding-top: 2px !important;
}
.pT3 {
  padding-top: 3px !important;
}
.pT4 {
  padding-top: 4px !important;
}
.pT5 {
  padding-top: 5px !important;
}
.pT6 {
  padding-top: 6px !important;
}
.pT7 {
  padding-top: 7px !important;
}
.pT8 {
  padding-top: 8px !important;
}
.pT9 {
  padding-top: 9px !important;
}
.pT10 {
  padding-top: 10px !important;
}
.pT15 {
  padding-top: 15px !important;
}
.pT20 {
  padding-top: 20px !important;
}
.pT25 {
  padding-top: 25px !important;
}
.pT30 {
  padding-top: 30px !important;
}
.pT35 {
  padding-top: 35px !important;
}
.pT40 {
  padding-top: 40px !important;
}
.pT45 {
  padding-top: 45px !important;
}
.pT50 {
  padding-top: 50px !important;
}

.pR0 {
  padding-right: 0 !important;
}
.pR1 {
  padding-right: 1px !important;
}
.pR2 {
  padding-right: 2px !important;
}
.pR3 {
  padding-right: 3px !important;
}
.pR4 {
  padding-right: 4px !important;
}
.pR5 {
  padding-right: 5px !important;
}
.pR6 {
  padding-right: 6px !important;
}
.pR7 {
  padding-right: 7px !important;
}
.pR8 {
  padding-right: 8px !important;
}
.pR9 {
  padding-right: 9px !important;
}
.pR10 {
  padding-right: 10px !important;
}
.pR15 {
  padding-right: 15px !important;
}
.pR20 {
  padding-right: 20px !important;
}
.pR25 {
  padding-right: 25px !important;
}
.pR30 {
  padding-right: 30px !important;
}
.pR35 {
  padding-right: 35px !important;
}
.pR40 {
  padding-right: 40px !important;
}
.pR45 {
  padding-right: 45px !important;
}
.pR50 {
  padding-right: 50px !important;
}

.pB0 {
  padding-bottom: 0 !important;
}
.pB1 {
  padding-bottom: 1px !important;
}
.pB2 {
  padding-bottom: 2px !important;
}
.pB3 {
  padding-bottom: 3px !important;
}
.pB4 {
  padding-bottom: 4px !important;
}
.pB5 {
  padding-bottom: 5px !important;
}
.pB6 {
  padding-bottom: 6px !important;
}
.pB7 {
  padding-bottom: 7px !important;
}
.pB8 {
  padding-bottom: 8px !important;
}
.pB9 {
  padding-bottom: 9px !important;
}
.pB10 {
  padding-bottom: 10px !important;
}
.pB15 {
  padding-bottom: 15px !important;
}
.pB20 {
  padding-bottom: 20px !important;
}
.pB25 {
  padding-bottom: 25px !important;
}
.pB30 {
  padding-bottom: 30px !important;
}
.pB35 {
  padding-bottom: 35px !important;
}
.pB40 {
  padding-bottom: 40px !important;
}
.pB45 {
  padding-bottom: 45px !important;
}
.pB50 {
  padding-bottom: 50px !important;
}

.pL0 {
  padding-left: 0 !important;
}
.pL1 {
  padding-left: 1px !important;
}
.pL2 {
  padding-left: 2px !important;
}
.pL3 {
  padding-left: 3px !important;
}
.pL4 {
  padding-left: 4px !important;
}
.pL5 {
  padding-left: 5px !important;
}
.pL6 {
  padding-left: 6px !important;
}
.pL7 {
  padding-left: 7px !important;
}
.pL8 {
  padding-left: 8px !important;
}
.pL9 {
  padding-left: 9px !important;
}
.pL10 {
  padding-left: 10px !important;
}
.pL15 {
  padding-left: 15px !important;
}
.pL20 {
  padding-left: 20px !important;
}
.pL25 {
  padding-left: 25px !important;
}
.pL30 {
  padding-left: 30px !important;
}
.pL35 {
  padding-left: 35px !important;
}
.pL40 {
  padding-left: 40px !important;
}
.pL45 {
  padding-left: 45px !important;
}
.pL50 {
  padding-left: 50px !important;
}

/*margin set*/
.m0 {
  margin: 0 !important;
}
.m1 {
  margin: 1px !important;
}
.m2 {
  margin: 2px !important;
}
.m3 {
  margin: 3px !important;
}
.m4 {
  margin: 4px !important;
}
.m5 {
  margin: 5px !important;
}
.m6 {
  margin: 6px !important;
}
.m7 {
  margin: 7px !important;
}
.m8 {
  margin: 8px !important;
}
.m9 {
  margin: 9px !important;
}
.m10 {
  margin: 10px !important;
}
.m15 {
  margin: 15px !important;
}
.m20 {
  margin: 20px !important;
}
.m25 {
  margin: 25px !important;
}
.m30 {
  margin: 30px !important;
}
.m35 {
  margin: 35px !important;
}
.m40 {
  margin: 40px !important;
}
.m45 {
  margin: 45px !important;
}
.m50 {
  margin: 50px !important;
}

.mT0 {
  margin-top: 0 !important;
}
.mT1 {
  margin-top: 1px !important;
}
.mT2 {
  margin-top: 2px !important;
}
.mT3 {
  margin-top: 3px !important;
}
.mT4 {
  margin-top: 4px !important;
}
.mT5 {
  margin-top: 5px !important;
}
.mT6 {
  margin-top: 6px !important;
}
.mT7 {
  margin-top: 7px !important;
}
.mT8 {
  margin-top: 8px !important;
}
.mT9 {
  margin-top: 9px !important;
}
.mT10 {
  margin-top: 10px !important;
}
.mT15 {
  margin-top: 15px !important;
}
.mT20 {
  margin-top: 20px !important;
}
.mT25 {
  margin-top: 25px !important;
}
.mT30 {
  margin-top: 30px !important;
}
.mT35 {
  margin-top: 35px !important;
}
.mT40 {
  margin-top: 40px !important;
}
.mT45 {
  margin-top: 45px !important;
}
.mT50 {
  margin-top: 50px !important;
}

.mR0 {
  margin-right: 0 !important;
}
.mR1 {
  margin-right: 1px !important;
}
.mR2 {
  margin-right: 2px !important;
}
.mR3 {
  margin-right: 3px !important;
}
.mR4 {
  margin-right: 4px !important;
}
.mR5 {
  margin-right: 5px !important;
}
.mR6 {
  margin-right: 6px !important;
}
.mR7 {
  margin-right: 7px !important;
}
.mR8 {
  margin-right: 8px !important;
}
.mR9 {
  margin-right: 9px !important;
}
.mR10 {
  margin-right: 10px !important;
}
.mR15 {
  margin-right: 15px !important;
}
.mR20 {
  margin-right: 20px !important;
}
.mR25 {
  margin-right: 25px !important;
}
.mR30 {
  margin-right: 30px !important;
}
.mR35 {
  margin-right: 35px !important;
}
.mR40 {
  margin-right: 40px !important;
}
.mR45 {
  margin-right: 45px !important;
}
.mR50 {
  margin-right: 50px !important;
}

.mB0 {
  margin-bottom: 0 !important;
}
.mB1 {
  margin-bottom: 1px !important;
}
.mB2 {
  margin-bottom: 2px !important;
}
.mB3 {
  margin-bottom: 3px !important;
}
.mB4 {
  margin-bottom: 4px !important;
}
.mB5 {
  margin-bottom: 5px !important;
}
.mB6 {
  margin-bottom: 6px !important;
}
.mB7 {
  margin-bottom: 7px !important;
}
.mB8 {
  margin-bottom: 8px !important;
}
.mB9 {
  margin-bottom: 9px !important;
}
.mB10 {
  margin-bottom: 10px !important;
}
.mB15 {
  margin-bottom: 15px !important;
}
.mB20 {
  margin-bottom: 20px !important;
}
.mB25 {
  margin-bottom: 25px !important;
}
.mB30 {
  margin-bottom: 30px !important;
}
.mB35 {
  margin-bottom: 35px !important;
}
.mB40 {
  margin-bottom: 40px !important;
}
.mB45 {
  margin-bottom: 45px !important;
}
.mB50 {
  margin-bottom: 50px !important;
}

.mL0 {
  margin-left: 0 !important;
}
.mL1 {
  margin-left: 1px !important;
}
.mL2 {
  margin-left: 2px !important;
}
.mL3 {
  margin-left: 3px !important;
}
.mL4 {
  margin-left: 4px !important;
}
.mL5 {
  margin-left: 5px !important;
}
.mL6 {
  margin-left: 6px !important;
}
.mL7 {
  margin-left: 7px !important;
}
.mL8 {
  margin-left: 8px !important;
}
.mL9 {
  margin-left: 9px !important;
}
.mL10 {
  margin-left: 10px !important;
}
.mL15 {
  margin-left: 15px !important;
}
.mL20 {
  margin-left: 20px !important;
}
.mL25 {
  margin-left: 25px !important;
}
.mL30 {
  margin-left: 30px !important;
}
.mL35 {
  margin-left: 35px !important;
}
.mL40 {
  margin-left: 40px !important;
}
.mL45 {
  margin-left: 45px !important;
}
.mL50 {
  margin-left: 50px !important;
}

/*****************************
	@font -face
*****************************/
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/NotoSansKR-Thin.woff2') format('woff2'), url('../fonts/NotoSansKR-Thin.otf') format('truetype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/NotoSansKR-Light.woff2') format('woff2'), url('../fonts/NotoSansKR-Light.otf') format('truetype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NotoSansKR-Regular.woff2') format('woff2'), url('../fonts/NotoSansKR-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NotoSansKR-Medium.woff2') format('woff2'), url('../fonts/NotoSansKR-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/NotoSansKR-Bold.woff2') format('woff2'), url('../fonts/NotoSansKR-Bold.otf') format('truetype');
}
